[submodule "FirstProject/external/json"]
	path = FirstProject/external/json
	url = https://github.com/nlohmann/json
[submodule "FirstProject/external/fmt"]
	path = FirstProject/external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "FirstProject/external/spdlog"]
	path = FirstProject/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "FirstProject/external/cxxopts"]
	path = FirstProject/external/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "FirstProject/external/catch2"]
	path = FirstProject/external/catch2
	url = https://github.com/catchorg/Catch2
